body {
  background-color: black;
    margin: 0;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
    color: red;
}

.photo {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.bears-fighting {
  border: 5px solid white;
  width: 100%;
}